@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.landing{
    /* padding-top: 100px; */
    background: #7C38CD;
    width: 100%;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 300px;
    margin: 10px;
}

.buttons{
    margin: 10px;
}
.header button{
    padding: 10px;
    border-radius: 20px ;
    background: #7C38CD;
    color: white;
    margin: 10px;
}

.header #register{
    border: 2px #AA6FFF solid;
}

.header #login{
    border: none;
    background: white;
    color: #7C38CD;
}

/* PRESENTATION */

.presentation{
    color: #AA6FFF;
    /* display: flex; */
    justify-content: space-around;
    margin: 20px 0;
}
.presentation img{
    @media (min-width: 1024px) {
        margin: 0 10vw;
        display: flex;
        /* background-color: red; */
    }
    @media (max-width: 1024px) {
        margin: 0 25vw;
    }

    @media (max-width: 640px) {
        margin: 0 10px;
    }
}

.presentation .presentationContainer{
    /* padding: 10px; */
    background: white;
    border-radius: 50px;
    /* width: 100vw; */
    /* border: 20px; */
    padding: 80px;


    @media (min-width: 900px) {
        padding-top: 20px;
        padding-bottom: 0;    
    }

    @media (max-width: 1024px) {
        padding: 40px;
        width: 80vw;
        margin-left: 9%;

}
}

.presentation button{
    border: 2px #AA6FFF solid;
    padding: 10px;
    border-radius: 20px ;
    background: #4c2877;
    color: white;
    margin: 10px;
}

/* whiteBack */

.containerCourses{
    display: flex;
}
.whiteBack{
    background: white;
    border-radius: 45px;
    padding: 20px 0 20px 0;
}

.selector{
    padding: 20px;
    justify-content: space-between;
}
.selector h2 {
    text-align: center;
}
.selector .botones{
    display: flex;
    justify-content: center;
}

.selector button{
    padding: 20px;
    border: none;
    color: #684991;
    cursor: pointer;
    transition: 0.3s;
}

.selector #idiomas{
    border-radius: 25px 0px 0px 25px;
}
.selector #programacion{
    border-radius: 0px 250px 250px 0px;
}

button.active{
    background-color: #AA6FFF;
    color: white;
}

/* MENTORES */

#titleMentors{
    text-align: center;
    background: #AA6FFF;
    padding: 20px;
}

.mentoresContainer{
    margin-top: 10px;
}



/* EMPRESAS */
.empresas h2{
    background: #AA6FFF;
    text-align: center;
    padding: 20px;
}

.empresas .container {
    display: flex;
    justify-content: space-around;
    margin: 20px
}


.empresas img{
    width: 300px;
    /* border-radius: 100px 100px 0 0px; */
    margin: 0 100px;
    @media (max-width: 1024px) {
        display: block;
        margin: 10% 10%;
    }
}

.empresas .infoContainer{
    background: #ddd0ee;
    border-radius:25px;

    @media (max-width: 1024px) {
        margin: 10px 20px 0 20px;
    }
}

.empresas .infoContainer h3 {
    @media (max-width: 1024px) {
        font-size: 18px;
    }
}

.empresas h3{
    padding: 20px;
}
/* FOOTER */

.footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}


.footer .logo-redes{
    text-align: center;
}

.footer .redes{
    display: flex;
}

.redes a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.logo-redes img{
    width: 300px;
}

.footer .about{
    width: 200px;
}

.presentation-title{
    color: #650ece;
    font-weight: 500;
}

/* En tu archivo LandingPage.css o en tu hoja de estilos global */
.slick-slider {
    touch-action: pan-y;
}

/* Asegúrate de incluir el siguiente estilo solo en dispositivos táctiles,
   ya que el manejo del mouse no requiere esta modificación */
@media (hover: none) {
    .slick-slider {
        touch-action: pan-x;
    }
}