.imgForm {
    margin-top: 90px;
}
.form {
    background-color: #FFF;
}

.formContainer {
    /* border: 1px solid black; */
    width: 700px;
    margin: 0 auto;
    text-align: start;
    /* padding-top: 50px; */
    /* padding-left: 1%; */
}

label {
    font-family: 'Lato', sans-serif;
    font-size: 18px;

}

.formTitle {
    font-family: 'Lato', sans-serif;
}

.inputText {
    border-radius: 12px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 387px;
    height: 54px;
    margin-bottom: 22px;
    margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
}

.buttonSubmit {
    border: none;
    border-radius: 12px;
    background: #7C38CD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 387px;
    height: 54px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 81px;
    margin: 81px 170px;
    font-family: 'Montserrat', sans-serif;
}

.continueWith {
    display: flex;
    justify-content: center;
}

.continueWith p {
    margin-right: 20px;
    font-size: 18px;
}

.continueWithGoogle, .continueWithGmail, .continueWithTwitter {
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 25px;
    border: 1px solid #7C38CD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2px 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 267px;
    height: 58px;
    flex-shrink: 0;
    font-family: 'Montserrat', sans-serif;
}

.inputDateOfBorn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 108px;
    /* border: 1px solid black; */
    width: 500px;
    height: 100px;
}

.inputDateOfBornLabel {
    display: flex;
}

.inputSelect {
    width: 108px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px;
    border: none;
    text-align: center;
    font-family: 'Lato';
}

.inputPassword {
    margin-left: 9px;
}

.inputConfirmPassword input {
    margin-left: 30px;
}

.inputNameLastname input {
    margin-left: 27px;
}

.inputEmail input {
    margin-left: 124px;
}

.optionCountry {
    font-family: 'Lato';
    font-size: 15px;
}

.inputCountry select {
    margin-left: 30%;
    width: 200px;
    font-size: 15px;
    font-family: 'Lato';
}