@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#student-text{
  text-align: left;
}

#student-container{
  margin-top: 50px;
  margin-bottom: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#student-photo{
  width: 300px;
  height: 300px;
}