

.detailHeader {
    display: flex;
    margin: 0 43%;
    margin-top: 100px;
}

.titleDetail {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    color: #C9C9C9;
}


.detailDescription{
    color: red;
    font-family: 'Montserrat', sans-serif;
}