@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.cartBuy {
    height: fit-content;
    margin-top: 88px;
}

.CarritodeCompras{
    font-family: 'Lato';
}

.courseImage {
    object-fit: contain;
    aspect-ratio: 3/2;
}