.home {
    padding-bottom: 50px;
    min-height: 100vh;
}

.courses{
    display: flex;
    flex-wrap: wrap;
}

.courseIndividual{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    background: #ffffffb2;
    border-radius: 25px;
    width: 300px;
    text-overflow: ellipsis;
}

.courseIndividual img {
    border-radius: 20px 20px 0 0 ;
    width: 300px;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    height: 50px;
}

.btn-container .courseBtn{
    border-right: 1px solid black ;
    background: #f79d9db2;
    border-radius: 0px 0px 0 25px ;
    flex-grow: 1;
    height: 100%;
}

.btn-container .addCourseCart{
    flex-grow: 1;
    height: 100%;
}

.homeCourse{
    margin: 15px 50px;
    height: 120px;
    border: 2px solid #5b249e;
    border-radius: 15px;
    background-color: #AA6FFF;
}
.homeCourse img{
    width: 220px;
    overflow: hidden;
    border-radius: 10px 10px 0 0px;
}

.courseBtn{
    text-decoration: none;
    display: flex;
    color: white;
    background: #5b249e;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 17px;
    font-weight: 500;
    
}

.info-course{
    background-color: #7C38CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenDeCurso{
    border-radius: 0;
}

.course-title{
    margin-top: 15px;
}

.course-duration{
    position: absolute;
    z-index: 10;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    padding: 1px 2px;
    border-radius: 10px 3px 3px 3px;
}

.filters-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .filters {
    padding-top: 80px;
    padding-bottom: 20px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  
#filter-button{
    margin-top: 45px;
}

/* POPUP */

.popup {
    color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: 0.4s;
  }