.home {
    padding-bottom: 50px;
    min-height: 100vh;
  }
  
  .filters-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .filters {
    padding-top: 80px;
    padding-bottom: 20px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  
#filter-button{
    margin-top: 45px;
}