.home{
    background-color: #ffffffb2;
    padding-bottom: 50px;
    min-height: 100vh;
}

.courses{
    display: flex;
    flex-wrap: wrap;
}

.courseIndividual{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    background: #ffffffb2;
    border-radius: 25px;
    width: 300px;
    text-overflow: ellipsis;
}

.courseIndividual img {
    border-radius: 20px 20px 0 0 ;
    width: 300px;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    height: 50px;
}

.btn-container .courseBtn{
    border-right: 1px solid black ;
    background: #f79d9db2;
    border-radius: 0px 0px 0 25px ;
    flex-grow: 1;
    height: 100%;
}

.btn-container .addCourseCart{
    flex-grow: 1;
    height: 100%;
}
