.all{
  z-index: 20;
}

.container {
  top: 0px;
  position: fixed;
  width: 96.66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c38cd;
  color: #fff;
  padding: 5px 20px;
  z-index: 100;
  margin: 0px
}

.Nav-center{
  width: 50%;
}

.Nav-left,
.Nav-right {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 45px;
  height: 45px;
}

.arrow {
  width: 20px;
  height: 20px;
}

.nav-dropdown {
  position: relative;
}

input[type="text"] {
  width: 70%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.seacrchBar-CoursesTitle {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-bottom: 0;
}

.search-icon {
  width: 15px;
  height: 15px;
  margin-left: -30px;
  cursor: pointer;
}

.Nav-right p {
  margin: 0 10px;
  font-size: 16px;
}
.hearth,
.shopcar,
.social {
  width: 25px;
  height: 25px;
  margin-left: 0px;
  margin-right: 20px;
}
.inventory{
  padding-right: 30px;
}

.profile-img {
  margin-right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 45%;
}


/* menú */

.menu-container {
  display: flex;
  align-items: center;
}

.menu-item {
  cursor: pointer;
  margin-left: 10px;
}

.arrow {
  margin-left: 5px;
}

.submenu-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #7c38cd;
  border: 1px solid #5b2e92;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.liProgramation, .liLanguaje, .liProgramationOption, .liLanguajeOption  {
  font-family: 'Montserrat', sans-serif;
}



.submenu-item {
  background-color: #7c38cd;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #5b2e92;
  display: flex;
  align-items: center;
}

.arrow-right {
  margin-left: 5px;
}

.submenu-right {
  padding: 10px;
}

.language-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.language-container li {
  padding: 5px 0;
}

.programming-languages,
.languages {
  padding: 10px;
}

.show-submenu-right {
  display: block;
}

.languages-container {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
}

.register, .login{
  cursor: pointer;
  padding: 10px;
    border-radius: 20px ;
    background: #7C38CD;
    color: white;
    margin-right: 20px;
}

.register{
  border: 2px #AA6FFF solid;
}

.login{
  border: none;
  background: white;
  color: #7C38CD;
}


/* Links */
.custom-link {
  text-decoration: none;
  color: white
}