/* Example of CSS media queries for responsiveness */
  
  @media (max-width: 1024px) {
    .detailTitle,.detailPrice {
      font-size: 20px;
    }
    .detailDescription, .detailDuration, .ownedByDetail {
      font-size: 15px;
    }

    .detailImage, .detailButton {
      width: 88%;
      display: flex;
      margin: 0 auto;
    }
  }