
/* FOOTER */

.footer{
    background-color: #7C38CD;
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 0 auto;
}


.footer .logo-redes{
    text-align: center;
}

.footer .redes{
    display: flex;
}
.logo-redes img{
    width: 300px;
}

.footer .about{
    width: 200px;
}

.footerInfo, .aboutInfo {
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}

.redes img {
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding: 10px;
}

.contact {
    width: 200px;
}

.contact-contact, .contact-info, .contact-ubication{
    display: flex;
}

.contact-img {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 30px;
}