.comment-container {
	width: 100%;
	padding-bottom: 20px;
	/* margin-left: 2vw; */
	margin-bottom: 20px;
	background-color: #f5f4f4;
	border-radius: 18px;
	padding: 20px;
	align-items: center;
	display: flex;
	flex-direction: row;
}

.content {
	border-radius: 0.25rem;
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
    text-align: justify;
	height: auto;
	min-height: 40px;
	/* max-height: 200px; */
	/* word-wrap: break-word; */
}

.comment-image {
	width: 45px;
	height: 45px;
	object-fit: cover;
    border: 2px solid fuchsia;
}

.user-image {
	border-radius: 100%;
	object-fit: cover;
	height: 5%;
	width: 5%;
	margin-right: 20px;
}

.comment-reply {
	width: 90%;
	display: flex;
	flex-direction: column;
	border: 2px solid greenyellow;
	justify-content: center;
}

.reply-button {
	/* margin-right: 1rem; */
	margin-left: 48rem;
	outline: none;
	color: #fff;
	background-color: #7c3aed;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	/* padding-top: 0.625rem; */
	/* padding-bottom: 0.625rem; */
	font-weight: 500;
	border-radius: 0.5rem;
	font-size: 0.875rem;
	height: 2%;
	width: 8%;
}

.no-comments-div {
	width: 100%;
	padding-bottom: 20px;
	/* margin-left: 2vw; */
	margin-bottom: 20px;
	background-color: #f5f4f4;
	border-radius: 18px;
	padding: 20px;
	align-items: center;
	display: flex;
	flex-direction: row;
}