.not-found {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura al 100% del viewport */
  }
  
  .image-404 {
    width: 400px;

    @media (max-width: 1024px) {
      width: 200px
    }
  }
  